
.vs/



[Bb]in/
[Oo]bj/



*.user
*.suo
*.userosscache
*.sln.docstates


.vscode/


.idea/


*.log


Thumbs.db


.DS_Store


*.nupkg
packages/


TestResults/


publish/


_ReSharper*/
*.DotSettings.user


*.psess
*.vsp
*.vspx


*.tmp
*.temp


*.bak
*.backup


.localhistory/


*.db
*.sqlite


.env
